---
# AWS Credentials
aws_access_key_id: "AKXXXXXXXXXXXIA"
aws_secret_access_key: "NaxXXXxxxxxxxxxxxxXXXXXXxxXXXxxxxsB"

# AWS VPC ID
# Example: vpc_id: "vpc-0894d3be035191bda"
vpc_id: ""

# Name of AWS VPC
# TODO: yes we know this is redundant right now
vpc_name: "sparta"
cluster_name: "sparta"
name_cluster_vpc: "sparta"
name_domain: "codectl.io"

# List private VPC Subnets
#subnet_list: 
#  - subnet-0add24af86db981ec
#  - subnet-093fc91c829cf7e3d
#  - subnet-0f393ef497d1244ac                                                           
subnet_list: 
  - 

# AMI ID for CoreOS
rhcos_ami: "ami-6e2a100f"

aws_region: "us-gov-west-1"
target_environment: "govcloud"
private_vpc_cidr: "10.0.0.0/16"

#################################################################################
version_openshift: "4.6.12"
