apiVersion: v1
kind: Secret
metadata:
  name: installer-cloud-credentials
  namespace: openshift-image-registry
data:
  aws_access_key_id: {{ aws_access_key_id | b64encode }}
  aws_secret_access_key: {{ aws_secret_access_key | b64encode }}
