apiVersion: v1
kind: Secret
metadata:
  name: cloud-credentials
  namespace: openshift-ingress-operator
data:
  aws_access_key_id: {{ cloud_key_id_special | b64encode }}
  aws_secret_access_key: {{ cloud_key_secret_special | b64encode }}
