apiVersion: v1
additionalTrustBundle: |
{{ lookup("file", "{{ dir_secrets }}/registry/ssl/registry.crt") | indent( width=2, indentfirst=True) }}
baseDomain: {{ name_domain }}
imageContentSources:
- mirrors:
  - registry.{{ cluster_domain }}:5000/openshift-release-dev
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry.{{ cluster_domain }}:5000/openshift-release-dev
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
compute:
- name: worker
  replicas: 3
  platform:
    {{ cloud_provider }}:
      type: {{ cloud_instance_type_worker }}
      zones:
      - {{ cloud_region }}a
      - {{ cloud_region }}b
      - {{ cloud_region }}c
controlPlane:
  name: master
  replicas: 3
  platform:
    {{ cloud_provider }}:
      type: {{ cloud_instance_type_worker }}
      zones:
      - {{ cloud_region }}a
      - {{ cloud_region }}b
      - {{ cloud_region }}c
metadata:
  name: {{ cluster_name }}
platform:
  {{ cloud_provider }}:
    amiID: {{ rhcos_ami }}
    region: {{ cloud_region }}
pullSecret: '{{ lookup('file', '{{ dir_secrets }}/docker/config.json') | regex_replace("\'", "\"") }}'
sshKey: '{{ sshkeys_pub_string }}'
publish: {{ openshift_install_publish }}
fips: {{ cloud_instance_fips }}
