---
rhcos_ami="ami-6e2a100f"
vpc_id="vpc-0894d3be035191bda"

subnet_list=["subnet-0add24af86db981ec", "subnet-093fc91c829cf7e3d", "subnet-0f393ef497d1244ac"]
aws_access_key_id="AKINEU"
aws_secret_access_key="NaswK"

vpc_name="falcon"
cluster_name="falcon"
name_domain="millenium.io"
cluster_domain="falcon.millenium.io"

private_vpc_cidr="10.0.0.0/16"
target_environment="govcloud"
aws_region="us-gov-west-1"
