variable "aws_region" { default = "{{ lookup('env','awsRegion1') }}" }
variable "aws_azs" { default = ["a"] }
variable "aws_availability_zones" { default = ["us-gov-west-1a"] }
variable "default_tags" { default = {} }
variable "infrastructure_id" { default = "{{ lookup('env','nameVpc') }}" }
variable "clustername" { default = "{{ lookup('env','nameCluster') }}" }
variable "private_vpc_cidr" { default = "10.0.0.0/16" }
variable "domain" { default = " {{ lookup('env','nameDomain') }}" }
variable "vpc_private_subnet_cidrs" { default = ["10.0.1.0/24","10.0.2.0/24","10.0.3.0/24"] }
variable "vpc_public_subnet_cidr" { default = ["10.0.7.0/26", "10.0.8.0/26", "10.0.9.0/26"] }
variable "aws_access_key_id" { default = "{{ aws_access_key_id }}"  }
variable "aws_secret_access_key" { default = "{{ aws_secret_access_key }}" }
variable "cluster_network_cidr" { default = "192.168.0.0/17" }
variable "cluster_network_host_prefix" { default = "23" }
variable "service_network_cidr" { default = "192.168.128.0/24" }
variable "bootstrap" { default = { type = "i3.xlarge"} }
variable "worker" {        default = { count = "3", type = "m4.large",  disk = "120"} }
variable "openshift_pull_secret" { default = "./openshift_pull_secret.json" }
variable "use_worker_machinesets" { default = true }
variable "openshift_installer_url" { default = "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest" }
variable "bastion_ssh_public_key_file_path" {
  type        = string
  description = "The file path containing the public key used for access to the bastion server"
}

// external_access:  if set to true, external management access ssh access to the environment is enabled via a bastion server running in
// a public facing subnet.
variable "external_management_access" { default = true }

// cluster_external_access: if set to true, outbound internet / external access will be enabled for the openshift cluster.
variable "external_cluster_access" { default = false}
variable "ocp_tag" { default = "{{ ocp_tag }}" }
